/* main * {
    border: 3px dotted #000;
} */

body {
    width: 960px;
    margin: 0px 120px;
}

header {
    padding: 60px 0;
    border-bottom: 10px darkgrey solid;
    margin-bottom: 50px;
}

header div img {
    float: left;
    margin-right: 5px;
    width: 45px;
}

#titles {
    float: left;
}

header h3{
    display: inline-block;
    font-family: 'Yellowtail', cursive;
    font-weight: bold;
    font-size: 38px;
}

h6 {
    font: 10px sans-serif;
    color: grey;
}

nav {
    Float: right;
}

nav li {
    display: inline-block
}

#pint-icon {
    margin-right: 10px;
}

h1 {
    font-weight: bold;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
}

#post-date {
    width: 50%;
}

#print-sec {
    float: right;
    width: 30%;
    text-align: right;
}

#print-sec * {
    display: inline-block;
}
main div h6{
    display: inline;
}

article img{
    width: 100%;
    margin: 25px 0;
}

article p {
    font-size: 18px;
    text-indent: 20px;
}

section {
    margin-top: 25px;
    height: 300px;
    background-image: url(img/list-bg.png);
}
form ul li{
    display: inline-block;
    width: 340px;
    margin-bottom: 15px;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.25em;
}
/* section *{
    border: 3px dotted #000;
} */
form{
    margin-left: 60px;
}
form ul{
    padding-top: 35px;
}
input[type=checkbox]:checked + label.line{
    text-decoration: line-through;
   }

/* ingredients-list {
    font-family: 'Patrick Hand', cursive;
} */